//***********INDEX: vista mobile***************

.container__header {
    ul {
        li {
            a {
                text-decoration: none;
            }
        }
    }
    li:active a {
        color: rgb(255, 194, 255);
    }
}

/*****Vista Tablet*****/
@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@include tablet {

}

/*****Vista mobile*****/
@mixin desktop {
    @media (min-width: 1200px) {
        @content;
    }
}

@include desktop {
    .container__header {
        li:hover a {
            color: rgb(255, 194, 255);
        }
    }
}
