//***********INDEX: vista mobile***************

.container__header--title {
    img {
        width: 388px;
        height: 475px;
        border-radius: 25px;
    }
}

/*****Vista Tablet*****/
@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@include tablet {
    .container__header--title {
        img {
            width: 770px;
            height: 540px;
            border-radius: 25px;
        }
    }

}

/*****Vista mobile*****/
@mixin desktop {
    @media (min-width: 1200px) {
        @content;
    }
}

@include desktop {
    .container__header--title {
        img {
            width: 1295px;
            height: 640px;
            border-radius: 25px;
        }
    }
}
