//***********INDEX: vista mobile***************

.container__premium {
    background: rgba(255,214,254,255);
    padding: 10%;

    &--1 {
        h2 {
            font-weight: bold;
            font-size: 50px;
            //background: rgb(255, 117, 211);
            background: linear-gradient(126deg,
                    rgba(255, 117, 211, 1) 0%,
                    rgba(239, 107, 217, 1) 26%,
                    rgb(194, 84, 192) 51%,
                    rgb(112, 50, 124) 100%);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            font-family: "Shadows Into Light", cursive;
            font-style: normal;
        }

        padding: 5%;
        //background-color: #ffd6fe;
        border-radius: 2%;
        height: 105%;
        padding: 1%;

        &--box {
            background: rgb(236, 208, 250);
            background: linear-gradient(126deg,
                    rgba(236, 208, 250, 1) 0%,
                    rgba(254, 204, 240, 1) 100%);
            //height: 20%;
            //width: 30%;
            padding: 5%;
            border: 2px solid #dbc1e2;
            border-radius: 3%;
            margin: 1%;

            h3 {
                font-size: 20px;
                font-weight: bold;
                font-family: "Shadows Into Light", cursive;
                font-style: normal;
                color: black;
            }

            p {
                color: black;
            }

            //agregar animacion
        }
    }
}

/*****Vista Tablet*****/
@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@include tablet {}

@mixin desktop {
    @media (min-width: 1200px) {
        @content;
    }
}

@include desktop {
    .container__premium {
        &--1 {
            &--box {
                width: 48%;
                padding: 5%;
                float: left;
            }
        }
    }
}