//***********INDEX: vista mobile***************

.container__servicios {
    background-image: url(../../assets/img/servicios/anar.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    //background-color: transparent;
    padding: 10%;

    &--1 {
        h2 {
            font-weight: bold;
            font-size: 50px;
            //background: rgb(255, 117, 211);
            background: linear-gradient(126deg,
                    rgba(255, 117, 211, 1) 0%,
                    rgba(239, 107, 217, 1) 26%,
                    rgb(194, 84, 192) 51%,
                    rgb(112, 50, 124) 100%);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            font-family: "Shadows Into Light", cursive;
            font-style: normal;
        }
        padding: 5%;
        //background-color: #ffd6fe;
        //border-radius: 2%;
        height: 105%;
        padding: 1%;

        &--box {
            //height: 20%;
            //width: 30%;
            padding: 5%;
            //border: 2px solid #dbbde7;
            margin: 1%;

            h3 {
                //font-style: italic;
                font-size: 20px;
                font-weight: bold;
                font-family: "Shadows Into Light", cursive;
                font-style: normal;
                background: linear-gradient(126deg,
                    rgba(255, 117, 211, 1) 0%,
                    rgba(239, 107, 217, 1) 26%,
                    rgb(194, 84, 192) 51%,
                    rgb(112, 50, 124) 100%);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
            }
            p {
                color: white;
            }

        }
    }
}

/*****Vista Tablet*****/
@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@include tablet {}

@mixin desktop {
    @media (min-width: 1200px) {
        @content;
    }
}

@include desktop {
    .container__servicios {
        &--1{
            &--box{
            width: 30%;
            padding: 5%;
            float: left;
            }
        }
    }
}
